## Start the server
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --initialize-insecure --user=mysql

C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --console
````

## Importing a database
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
mysql -u root

mysql> CREATE DATABASE hospital;
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| hospital           |
| information_schema |
| mysql              |
| performance_schema |
| school             |
| sys                |
| wsaa               |
+--------------------+
7 rows in set (0.00 sec)

mysql> \q
Bye

C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysql -u root -p hospital < "C:\Users\oconnora\Downloads\hospital.sql"

````

In [1]:
import mysql.connector

In [2]:
#CREATE
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor=conn.cursor()
query = "SHOW DATABASES"
cursor.execute(query)
databases = cursor.fetchall()
print(databases)

[('hospital',), ('information_schema',), ('lab1',), ('mysql',), ('performance_schema',), ('school',), ('sys',), ('wsaa',)]

In [3]:
#CREATE
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="lab1"
)

cursor=conn.cursor()

cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

for table in tables:
    table_name = table[0]
    select_query = f"SELECT * FROM {table_name}"
    cursor.execute(select_query)
    print(table)
    print(cursor.fetchall())

('car',)
[('05-MO-17931', 'Toyota', 'Highlander', 'Green', 253789, 1.6), ('10-G-2334', 'Toyota', 'Corolla', 'Green', 123389, 1.3), ('10-WH-17931', 'Toyota', 'Corolla', 'Silver', 130389, 1.4), ('11-MO-23431', 'Toyota', 'Corolla', 'Black', 1234123, 1.3), ('12-WH-123', 'Ford', 'Ka', 'Black', 125882, 1.0), ('132-G-9923', 'Ford', 'Ka', 'Silver', 325883, 1.0), ('132-MO-19323', 'Ford', 'Galaxy', 'Silver', 2343, 1.5), ('171-G-39532', 'Toyota', 'Corolla', 'Silver', 55882, 1.3), ('171-MO-12533', 'Ford', 'Fiesta', 'Black', 25882, 1.0), ('99-G-300', 'Toyota', 'Corolla', 'Green', 599339, 1.3)]
('person',)
[(1, 'John', 23, 'M', datetime.date(2000, 1, 1), 1), (2, 'Tom', 64, 'M', datetime.date(1958, 3, 11), 0), (3, 'Mary', 12, 'F', datetime.date(2005, 4, 11), 1), (4, 'Alan', 12, 'M', datetime.date(2005, 11, 21), 1), (5, 'Pat', 29, 'M', datetime.date(1993, 3, 17), 0), (6, 'Shane', 40, 'M', datetime.date(1988, 7, 21), 0), (7, 'Shane', 14, 'M', datetime.date(2003, 6, 1), 1), (8, 'Alice', 24, 'F', datetime.date(1999, 3, 1), 1), (9, 'Pat', 37, 'F', datetime.date(1988, 4, 15), 0)]

In [7]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="lab1"
)

cursor=conn.cursor()
print("Connected:", conn.is_connected())  # Should be True

car_reg = input("What registration is your car? ")

query = "SELECT * FROM CAR WHERE registration = %s"
cursor.execute(query, (car_reg,))
cursor.fetchall()

Connected: True

[('05-MO-17931', 'Toyota', 'Highlander', 'Green', 253789, 1.6)]

In [10]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="lab1"
)

cursor=conn.cursor()

car_colour = input("What colour is your car? ")

query = "SELECT * FROM car WHERE colour = %s"

cursor.execute(query, (car_colour,))
cursor.fetchall()

[('05-MO-17931', 'Toyota', 'Highlander', 'Green', 253789, 1.6),
 ('10-G-2334', 'Toyota', 'Corolla', 'Green', 123389, 1.3),
 ('99-G-300', 'Toyota', 'Corolla', 'Green', 599339, 1.3)]

In [3]:
import car_dao_wsaa
car_dao_wsaa.get_car_by_reg("05-MO-17931")

[{'registration': '05-MO-17931',
  'make': 'Toyota',
  'model': 'Highlander',
  'colour': 'Green',
  'mileage': 253789,
  'engineSize': 1.6}]

In [18]:
import importlib
importlib.reload(car_dao_wsaa)

In [16]:
car = {
  'registration': '09-D-86793',
  'make': 'Audi',
  'model': 'A8',
  'colour': 'Pink',
  'mileage': 259989,
  'engineSize': 1.6
  }

car_dao_wsaa.add_car(car)

IntegrityError: (1062, "Duplicate entry '09-D-86793' for key 'car.PRIMARY'")

In [17]:
car = {
  'registration': '09-D-86793',
  'make': 'Skoda',
  'model': 'Octavia',
  'colour': 'Pink',
  'mileage': 259989,
  'engineSize': 1.6
  }

car_dao_wsaa.update_car(car)

'Car updated successfully'

In [22]:
car_dao_wsaa.get_all_cars()

[{'registration': '03-D-80248',
  'make': 'Renault',
  'model': 'Clio',
  'colour': 'Red',
  'mileage': 69000,
  'engineSize': 1.2},
 {'registration': '05-MO-17931',
  'make': 'Toyota',
  'model': 'Highlander',
  'colour': 'Green',
  'mileage': 253789,
  'engineSize': 1.6},
 {'registration': '05-WH-89101',
  'make': 'Mercedes',
  'model': 'W124',
  'colour': 'Blue',
  'mileage': 12456,
  'engineSize': 2.0},
 {'registration': '09-D-86793',
  'make': 'Skoda',
  'model': 'Octavia',
  'colour': 'Pink',
  'mileage': 259989,
  'engineSize': 1.6},
 {'registration': '10-G-2334',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Green',
  'mileage': 123389,
  'engineSize': 1.3},
 {'registration': '10-WH-17931',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Silver',
  'mileage': 130389,
  'engineSize': 1.4},
 {'registration': '11-MO-23431',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Black',
  'mileage': 1234123,
  'engineSize': 1.3},
 {'registration': '12-WH-123',
  'make': 'Ford',
  'model': 'Ka',
  'colour': 'Black',
  'mileage': 125882,
  'engineSize': 1.0},
 {'registration': '132-G-9923',
  'make': 'Ford',
  'model': 'Ka',
  'colour': 'Silver',
  'mileage': 325883,
  'engineSize': 1.0},
 {'registration': '132-MO-19323',
  'make': 'Ford',
  'model': 'Galaxy',
  'colour': 'Silver',
  'mileage': 2343,
  'engineSize': 1.5},
 {'registration': '171-G-39532',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Silver',
  'mileage': 55882,
  'engineSize': 1.3},
 {'registration': '171-MO-12533',
  'make': 'Ford',
  'model': 'Fiesta',
  'colour': 'Black',
  'mileage': 25882,
  'engineSize': 1.0},
 {'registration': '99-G-300',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Green',
  'mileage': 599339,
  'engineSize': 1.3}]

In [27]:
#Run this cell while server_cars is running
import requests

response_get = requests.get("http://127.0.0.1:5000/cars")
response_get_reg = requests.get("http://127.0.0.1:5000/cars/12-MO-23431")
print(f"GET request returns: {response_get.text}\nGET 12-MO-23431 request returns: {response_get_reg.text}")

GET request returns: [
  {
    "colour": "Red",
    "engineSize": 1.2,
    "make": "Renault",
    "mileage": 69000,
    "model": "Clio",
    "registration": "03-D-80248"
  },
  {
    "colour": "Green",
    "engineSize": 1.6,
    "make": "Toyota",
    "mileage": 253789,
    "model": "Highlander",
    "registration": "05-MO-17931"
  },
  {
    "colour": "Blue",
    "engineSize": 2.0,
    "make": "Mercedes",
    "mileage": 12456,
    "model": "W124",
    "registration": "05-WH-89101"
  },
  {
    "colour": "Pink",
    "engineSize": 1.6,
    "make": "Skoda",
    "mileage": 259989,
    "model": "Octavia",
    "registration": "09-D-86793"
  },
  {
    "colour": "Green",
    "engineSize": 1.3,
    "make": "Toyota",
    "mileage": 123389,
    "model": "Corolla",
    "registration": "10-G-2334"
  },
  {
    "colour": "Silver",
    "engineSize": 1.4,
    "make": "Toyota",
    "mileage": 130389,
    "model": "Corolla",
    "registration": "10-WH-17931"
  },
  {
    "colour": "Black",
    "engineSize": 1.3,
    "make": "Toyota",
    "mileage": 1234123,
    "model": "Corolla",
    "registration": "11-MO-23431"
  },
  {
    "colour": "Black",
    "engineSize": 1.0,
    "make": "Ford",
    "mileage": 125882,
    "model": "Ka",
    "registration": "12-WH-123"
  },
  {
    "colour": "Silver",
    "engineSize": 1.0,
    "make": "Ford",
    "mileage": 325883,
    "model": "Ka",
    "registration": "132-G-9923"
  },
  {
    "colour": "Silver",
    "engineSize": 1.5,
    "make": "Ford",
    "mileage": 2343,
    "model": "Galaxy",
    "registration": "132-MO-19323"
  },
  {
    "colour": "Silver",
    "engineSize": 1.3,
    "make": "Toyota",
    "mileage": 55882,
    "model": "Corolla",
    "registration": "171-G-39532"
  },
  {
    "colour": "Black",
    "engineSize": 1.0,
    "make": "Ford",
    "mileage": 25882,
    "model": "Fiesta",
    "registration": "171-MO-12533"
  },
  {
    "colour": "Green",
    "engineSize": 1.3,
    "make": "Toyota",
    "mileage": 599339,
    "model": "Corolla",
    "registration": "99-G-300"
  }
]

GET 12-MO-23431 request returns: []

In [30]:
car = {
    "colour": "Blue",
    "engineSize": 1.6,
    "make": "Ford",
    "mileage": 253789,
    "model": "Mondeo",
    "registration": "121-LM-17933"
  }
response = requests.put("http://127.0.0.1:5000/cars", json=car)

print(response)

<Response [200]>