## Start the server
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --initialize-insecure --user=mysql

C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysqld --console
````

## Importing a database
````
C:\Users\oconnora\mysql-9.2.0-winx64\bin
mysql -u root

mysql> CREATE DATABASE hospital;
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| hospital           |
| information_schema |
| mysql              |
| performance_schema |
| school             |
| sys                |
| wsaa               |
+--------------------+
7 rows in set (0.00 sec)

mysql> \q
Bye

C:\Users\oconnora\mysql-9.2.0-winx64\bin
λ mysql -u root -p hospital < "C:\Users\oconnora\Downloads\hospital.sql"

````

In [ ]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/DOTM05/JSON-stat/2.0/en"

In [1]:
import car_dao_wsaa

In [3]:
car = {
  'registration': '121-LH-890756',
  'make': 'Audi',
  'model': 'A8',
  'colour': 'Navy',
  'mileage': 259989,
  'engineSize': 1.6
  }

car_dao_wsaa.add_car(car)

'Car added successfully'

In [4]:
car = {
  'registration': '09-D-86793',
  'make': 'Skoda',
  'model': 'Kodiak',
  'colour': 'Pink',
  'mileage': 259989,
  'engineSize': 1.6
  }

car_dao_wsaa.update_car(car)

'Car updated successfully'

In [6]:
#Run this cell while server_cars is running
import requests

response_get_reg = requests.get("http://127.0.0.1:5000/cars/05-MO-17931")
print(f"GET 12-MO-23431 request returns: {response_get_reg.text}")

GET 12-MO-23431 request returns: [
  {
    "colour": "Green",
    "engineSize": 1.6,
    "make": "Toyota",
    "mileage": 253789,
    "model": "Highlander",
    "registration": "05-MO-17931"
  }
]

In [19]:
car_dao_wsaa.get_all_cars()

[{'registration': '03-D-80248',
  'make': 'Renault',
  'model': 'Clio',
  'colour': 'Red',
  'mileage': 69000,
  'engineSize': 1.2},
 {'registration': '05-MO-17931',
  'make': 'Toyota',
  'model': 'Highlander',
  'colour': 'Green',
  'mileage': 253789,
  'engineSize': 1.6},
 {'registration': '05-WH-89101',
  'make': 'Mercedes',
  'model': 'W124',
  'colour': 'Blue',
  'mileage': 12456,
  'engineSize': 2.0},
 {'registration': '09-D-86793',
  'make': 'Skoda',
  'model': 'Kodiak',
  'colour': 'Pink',
  'mileage': 259989,
  'engineSize': 1.6},
 {'registration': '10-G-2334',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Green',
  'mileage': 123389,
  'engineSize': 1.3},
 {'registration': '10-WH-17931',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Silver',
  'mileage': 130389,
  'engineSize': 1.4},
 {'registration': '11-MO-23431',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Black',
  'mileage': 1234123,
  'engineSize': 1.3},
 {'registration': '12-WH-123',
  'make': 'Ford',
  'model': 'Ka',
  'colour': 'Black',
  'mileage': 125882,
  'engineSize': 1.0},
 {'registration': '121-LH-890756',
  'make': 'Audi',
  'model': 'A8',
  'colour': 'Navy',
  'mileage': 259989,
  'engineSize': 1.6},
 {'registration': '121-LM-17933',
  'make': 'Ford',
  'model': 'Mondeo',
  'colour': 'Blue',
  'mileage': 253789,
  'engineSize': 1.6},
 {'registration': '132-G-9923',
  'make': 'Ford',
  'model': 'Ka',
  'colour': 'Silver',
  'mileage': 325883,
  'engineSize': 1.0},
 {'registration': '132-MO-19323',
  'make': 'Ford',
  'model': 'Galaxy',
  'colour': 'Silver',
  'mileage': 2343,
  'engineSize': 1.5},
 {'registration': '171-G-39532',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Silver',
  'mileage': 55882,
  'engineSize': 1.3},
 {'registration': '171-MO-12533',
  'make': 'Ford',
  'model': 'Fiesta',
  'colour': 'Black',
  'mileage': 25882,
  'engineSize': 1.0},
 {'registration': '99-G-300',
  'make': 'Toyota',
  'model': 'Corolla',
  'colour': 'Green',
  'mileage': 599339,
  'engineSize': 1.3}]

In [22]:
response_get = requests.get("http://127.0.0.1:5000/cars")
for car in response_get.json():
    print(car)

{'colour': 'Red', 'engineSize': 1.2, 'make': 'Renault', 'mileage': 69000, 'model': 'Clio', 'registration': '03-D-80248'}
{'colour': 'Green', 'engineSize': 1.6, 'make': 'Toyota', 'mileage': 253789, 'model': 'Highlander', 'registration': '05-MO-17931'}
{'colour': 'Blue', 'engineSize': 2.0, 'make': 'Mercedes', 'mileage': 12456, 'model': 'W124', 'registration': '05-WH-89101'}
{'colour': 'Pink', 'engineSize': 1.6, 'make': 'Skoda', 'mileage': 259989, 'model': 'Kodiak', 'registration': '09-D-86793'}
{'colour': 'Green', 'engineSize': 1.3, 'make': 'Toyota', 'mileage': 123389, 'model': 'Corolla', 'registration': '10-G-2334'}
{'colour': 'Silver', 'engineSize': 1.4, 'make': 'Toyota', 'mileage': 130389, 'model': 'Corolla', 'registration': '10-WH-17931'}
{'colour': 'Black', 'engineSize': 1.3, 'make': 'Toyota', 'mileage': 1234123, 'model': 'Corolla', 'registration': '11-MO-23431'}
{'colour': 'Black', 'engineSize': 1.0, 'make': 'Ford', 'mileage': 125882, 'model': 'Ka', 'registration': '12-WH-123'}
{'colour': 'Navy', 'engineSize': 1.6, 'make': 'Audi', 'mileage': 259989, 'model': 'A8', 'registration': '121-LH-890756'}
{'colour': 'Blue', 'engineSize': 1.6, 'make': 'Ford', 'mileage': 253789, 'model': 'Mondeo', 'registration': '121-LM-17933'}
{'colour': 'Silver', 'engineSize': 1.0, 'make': 'Ford', 'mileage': 325883, 'model': 'Ka', 'registration': '132-G-9923'}
{'colour': 'Silver', 'engineSize': 1.5, 'make': 'Ford', 'mileage': 2343, 'model': 'Galaxy', 'registration': '132-MO-19323'}
{'colour': 'Silver', 'engineSize': 1.3, 'make': 'Toyota', 'mileage': 55882, 'model': 'Corolla', 'registration': '171-G-39532'}
{'colour': 'Black', 'engineSize': 1.0, 'make': 'Ford', 'mileage': 25882, 'model': 'Fiesta', 'registration': '171-MO-12533'}
{'colour': 'Green', 'engineSize': 1.3, 'make': 'Toyota', 'mileage': 599339, 'model': 'Corolla', 'registration': '99-G-300'}

In [14]:
response_get_reg = requests.get("http://127.0.0.1:5000/cars/05-MO-1222222")
response_get_reg.text

'Error: Car with registration 05-MO-1222222 not found'

In [12]:
car = {
    "colour": "Blue",
    "engineSize": 1.6,
    "make": "Ford",
    "mileage": 253789,
    "model": "Mondeo",
    "registration": "121-LM-17933"
  }

response = requests.post("http://127.0.0.1:5000/cars", json=car)

print(response.text)

{
  "error": "Car with registration 121-LM-17933 already exists in database"
}